t-rex
*.tar.gz
*.log
ALPH-*.sh
ERGO-*.sh
ETC*.sh
ETHW*.sh
FIRO-*.sh
RVN-*.sh
VBK-*.sh
VEIL-*.sh
ZANO-*.sh
CFX-*.sh
SERO-*.sh
README.md
help
config_example
t-rex/t-rex
t-rex/config_example
t-rex/help
t-rex/README.md
t-rex/ALPH-*.sh
t-rex/ERGO-*.sh
t-rex/ETC*.sh
t-rex/ETHW*.sh
t-rex/FIRO-*.sh
t-rex/RVN-*.sh
t-rex/VBK-*.sh
t-rex/VEIL-*.sh
t-rex/ZANO-*.sh
t-rex/CFX-*.sh
t-rex/SERO-*.sh
