miner
miner.sig
gminer_*/
*.tar.xz
*.log
public.gpg
cuda-keyring*
*.sh.bak
mine_*.sh
readme.txt
sample_config.txt
gminer/gminer_*/
gminer/mine_*.sh
gminer/public.gpg
gminer/sample_config.txt
gminer/readme.txt
gminer/cuda-keyring*
